[Desktop Entry]
Version=1.0
Type=Application

Name=Adwaita Template
Comment=A template for creating GNOME apps with Swift
Categories=Development;GNOME;

Icon=com.mohfy.quizzy
Exec=Quizzy
Terminal=false