[Desktop Entry]
Version=1.0
Type=Application

Name=Quizzy
Comment=Answer questions on various topics to test your knowledge!
Categories=Education;

Icon=com.mohfy.quizzy
Exec=Quizzy
Terminal=false